@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond&display=swap");

html {
  background-image: url(img/snowboarding1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: 100% 25%;
}

body {
  width: 700px;
  margin: auto;
  font-family: "Cormorant Garamond", sans-serif;
  word-wrap: break-word;
}

header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.header-text {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  color: #313639;
  font-size: 1.5em;
  letter-spacing: 0.15em;
}

h1 {
  font-size: 5em;
  letter-spacing: 0.25em;
  text-align: center;
  color: #313639;
  font-family: "Bebas Neue", sans-serif;
  font-weight: lighter;
  margin-top: 2.5em;
}

.container {
  display: grid;
  grid-template-rows: 600px 600px 600px;
  row-gap: 75px;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  height: 600px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  transition: 500ms ease;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .text {
  top: 290px;
  opacity: 1;
}

.img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  transition: 500ms ease;
}

.card:hover .img {
  transform: rotate(-2deg) scale(1.05);
}

.card-title {
  font-weight: bold;
  position: relative;
  padding-bottom: 15px;
}

.text {
  position: absolute;
  top: 500px;
  left: 0;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  width: 360px;
  height: 400px;
  padding: 20px;
  transition: 500ms ease;
}

.text p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-title::after {
  content: "";
  background-color: #11e879;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transition: 500ms ease;
}

.card:hover .card-title::after {
  width: 200px;
}

.button {
  text-decoration: none;
  color: black;
  background-color: #11e879;
  padding: 5px;
  border-radius: 4px;
  font-weight: 700;
}

.button:hover {
  background-color: #faf9f6;
}
